:root {
    --red: rgb(224, 32, 80);
  }
  
  body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
  
  .content-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 4px solid var(--red);
  }
  .App-body {
    margin-top: 60px;
    margin-left: 40px;
  }
  
  