:root {
  --red: #e0003c;
}
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
}
.App-header {
  display: flex;
  align-items: center;
  border-bottom: 4px solid var(--red);
}
.App-header img {
  width: 200px;
}
.App-header h1 {
  color: var(--red);
}

.App-body {
  margin: 70px 50px;
}

.App-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-top: 4px solid var(--red);
}
