table {
  border-collapse: collapse;
}
#CourseList {
    width: 97%;
    text-align: left;
    border: 1px solid #bbbbbb;
}
#CourseList caption {
    border: 1px solid #bbbbbb;
}
#CourseList tbody {
    border-top: 2px solid #bbbbbb;
}

